*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 620px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(160, 201, 176);
    border-radius: 10px;
    padding: auto;
    
}
h1 {
    font-family: sans-serif;
    font-size: 40px;    
    color: white;
}
.relogio{
    font-size: 6em;
}
.pausado{
    color: red;
}